@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Monument;
    src: url(./Monument-Black.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: #FDF6F6;
}

.card {
    background-color: #FDF6F6;
    margin: 0 auto;
    height: 650px;
    width: 450px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    height: 400px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    margin: 0 3px;
}

.sizes {
    margin-top: 40px;
}

.price {
    font-family: Monument, sans-serif;
    font-size: 18px;
}